pandas
numpy
matplotlib
seaborn
tqdm
scikit-learn
transformers
torch
pathlib
scipy
streamlit
numpydoc
pyspark
joblib
pydantic
psutil
pyarrow
numba
Levenshtein
requests
datasets
sentence-transformers
transformers[torch]
deepmatcher